<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Registration Form</title>
</head>

<body>
  <div class="container" id="app">
    <div class="row">
      
      <div class="logo-text">
        <div class="logo">
          <img class="img-responsive center-block" src="http://pgep.devasena.in/wp-content/uploads/2017/12/PGEPS-2.jpg" 
          alt="Peace on Green Earth Public School, Kundrathur">
        </div>
        <div class="text-center">
			  <h2 class="site-title">Peace on Green Earth Public School, Kundrathur</h2>
				<p class="site-description">(Affiliated to CBSE, Affln. No. 1930706)</p>
        <h3>{{ title }} ({{ thisyear }} - {{ nextyear }})</h3>
        </div>
      </div>
    
    <form class="form-horizontal" role="form" data-toggle="validator">

    <fieldset>
      <legend>Student Details</legend>

      <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">First name - {{ studentFirstName }}</label>
        <div class="col-sm-4">
        <input type="text" name="firstname" v-model="studentFirstName" required placeholder="First Name" class="form-control">
        </div>
      </div>

      <div class="form-group">  
        <label for="lastname" class="col-sm-2 control-label"> Last name</label>
        <div class="col-sm-4"><input type="text" v-model="studentLastName" name="lastname" placeholder="Last Name"  class="form-control"></div>
      </div>
    
      <div class="form-group">
        <label for="" class="col-sm-2 control-label">Gender {{ studentGender }}</label>
        <div class="col-sm-4">
          <label class="radio-inline"><input type="radio" name="gender" v-model="studentGender" value="male" required>Male</label>
          <label class="radio-inline"><input type="radio" name="gender" v-model="studentGender" value="female" required>Female</label>
          <label class="radio-inline"><input type="radio" name="gender" v-model="studentGender" value="other" required>Other</label>
        </div>
      </div>

      <div class="form-group">
        <label for="dob" class="col-sm-2 control-label">Date of Birth: </label>
        <div class="col-sm-4"><input id="dob" type="date" value="" class="form-control" required/>
        <p class="help-block">Candidates seeking admission to L.K.G should have completed 3 years as on 31st March 2018 and similar computation will be done for other classes as well.</p>
      </div></div>
    
      <div class="form-group">
        <label for="studentphoto" class="col-sm-2 control-label">Photo </label>
        <div class="col-sm-4"><input type="file" name="studentphoto" accept="image/*" required>
        <p class="help-block">Below 1 mb passport size photo only allowed.</p></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"> Admission for Class</label>
        <div class="col-sm-4">
          <select name="student-class" class="form-control" required>
            <option value="" disabled selected>Select class</option>
            <option v-for="(value, key) in classes" :value="key">{{ value }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"> Religion</label>
        <div class="col-sm-4">
          <select name="student-religion" class="form-control" required>
            <option value="" disabled selected>Select religion</option>
            <option v-for="(value, key) in religion" :value="key">{{ value }}</option>
          </select>
        </div>
      </div>
   
      <div class="form-group">
        <label class="col-sm-2 control-label">Community</label>
        <div class="col-sm-4">
          <select name="student-category" class="form-control" required>
              <option value="" disabled selected>Select community</option>
             <option v-for="(value, key) in community" :value="key">{{ value }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">  
        <label for="lastname" class="col-sm-2 control-label">Permanent Address</label>
        <div class="col-sm-4"><input type="text" name="permanentaddress" placeholder="Permanent Address" required class="form-control"></div>
      </div>

      <div class="form-group">  
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-4"><input type="text" name="city" placeholder="City" required  class="form-control"></div>
      </div>
      <div class="form-group">  
        <label for="lastname" class="col-sm-2 control-label">Pincode</label>
        <div class="col-sm-4"><input type="text" name="pincode" placeholder="Pincode" required  class="form-control"></div>
      </div>
  
      <div class="form-group">
        <label for="transport" class="col-sm-2 control-label">Is School Transport</label>
        <div class="col-sm-4">
          <label class="radio-inline"><input type="radio" name="transport" value="Yes"> Yes</label>
          <label class="radio-inline"><input type="radio" name="transport" value="No"> No<br></label>
        </div>
      </div>
    
      <div class="form-group">
        <label class="col-sm-2 control-label"> Distance From School</label>
        <div class="col-sm-4">
          <select name="student-distance" class="form-control">
            <option value="" disabled selected>Distance from school</option>
              </option><option value="Upto 1km">Upto 1km</option>
              <option value="2-3kms">2-3kms</option>
              <option value="4-6kms">4-6kms</option>
              <option value="Beyond 6kms">Beyond 6kms</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-4">
          <label class="checkbox-inline"><input type="checkbox" id="needTransport" 
          v-on:change = "siblingSection = !siblingSection" name="transport" value="Yes"> Has Sibling(Blood Brother/Sister)?</label>
        </div>
      </div> 

    <div v-show="siblingSection" id="siblingFieldset">
      <!--<legend>Sibling Details(Blood Brother/Sister)</legend>-->  
      <div class="form-group">
          <label for="siblingAdmissionNo" class="col-sm-2 control-label">Admission No</label>
          <div class="col-sm-4">
          <input type="text" name="siblingAdmissionNo" placeholder="Sibling Admission No" class="form-control">
          </div>
        </div>

        <div class="form-group">  
          <label for="siblingName" class="col-sm-2 control-label"> Sibling Name</label>
          <div class="col-sm-4"><input type="text" name="siblingName" placeholder="Sibling Name"  class="form-control"></div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label"> Sibling Class</label>
          <div class="col-sm-4">
            <select name="sibling-class" class="form-control">
              <option value="" disabled selected>Select sibling class</option>
              <option v-for="(value, key) in classes" :value="key">{{ value }}</option>
            </select>
          </div>
        </div>
      </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> </label>
        <div class="col-sm-4">
          <label class="checkbox-inline" for="previousStudied"><input type="checkbox" id="previousStudied" 
          v-on:change ="previousStudiedSection = !previousStudiedSection" name="previousStudied" value="Yes"> Has previous education?</label>
        </div>
      </div>

  <div v-show="previousStudiedSection" id="previousStudiedSection">
    <div class="form-group">
        <label for="schoolName" class="col-sm-2 control-label">Name of the School</label>
        <div class="col-sm-4">
        <input type="text" name="schoolName" placeholder="Name of the School" class="form-control">
        </div>
      </div>

      <div class="form-group">  
        <label for="schoolAddress" class="col-sm-2 control-label">School Address</label>
        <div class="col-sm-4"><input type="text" name="schoolAddress" placeholder="School Address"  class="form-control"></div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="classLastStudied"> Class last studied</label>
        <div class="col-sm-4">
          <select name="classLastStudied" class="form-control">
            <option value="" disabled selected>Select class studied</option>
            <option v-for="(value, key) in classes" :value="key">{{ value }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="boardOfStudy">Board of Study</label>
        <div class="col-sm-4">
          <select name="boardOfStudy" class="form-control">
            <option value="" disabled selected>Select Board of study</option>
            <option v-for="(value, key) in board" :value="key">{{ value }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="reportCard" class="col-sm-2 control-label">Whether qualified for promotion(Report Card) </label>
        <div class="col-sm-4"><input type="file" name="reportCard" multiple ></div>
      </div>

      <div class="form-group">  
        <label for="reasonLeaving" class="col-sm-2 control-label">Reason for Leaving the Previous School</label>
        <div class="col-sm-4"><input type="text" name="reasonLeaving" placeholder="Reason for leaving"  class="form-control"></div>
      </div>

      <div class="form-group">  
        <label for="reasonApply" class="col-sm-2 control-label">Reason for Applying to VMHSS</label>
        <div class="col-sm-4"><input type="text" name="reasonApply" placeholder="Reason for applying"  class="form-control"></div>
      </div>

      <div class="form-group">  
        <label for="howdoyouknow" class="col-sm-2 control-label">How did you come to know us</label>
        <div class="col-sm-4"><input type="text" name="howdoyouknowus" placeholder="How do you know us"  class="form-control"></div>
      </div>

    </div>

  </fieldset>

<!-- Parents Details-->
  <fieldset>
    <legend>Parents/Guardian Details</legend>
      
      <div class="form-group">
        <label for="gender" class="col-sm-2 control-label">Relationship with Student</label>
        <div class="col-sm-4">
          <label class="radio-inline"><input type="radio" name="parents" value="father" required> Father</label>
          <label class="radio-inline"><input type="radio" name="parents" value="mother" required> Mother</label>
          <label class="radio-inline"><input type="radio" name="parents" value="guardian" required> Guardian </label>
        </div>
      </div>
      
      <div class="form-group">
        <label for="" class="col-sm-2 control-label" for="parentName">Name</label>
        <div class="col-sm-4"><input type="text" name="parentName" required class="form-control"></div>
      </div>
      
      <!--<div class="form-group">
        <label for="pdob" class="col-sm-2 control-label">Date of Birth: </label>
        <div class="col-sm-4"><input id="pdob" type="date" value="" class="form-control"/></div>
      </div>-->

      <div class="form-group">
        <label class="col-sm-2 control-label">Qualification</label>
        <div class="col-sm-4">
    	  <select name="student-mother-qualification" class="form-control" required>
          <option value="" disabled selected>Select qualification</option>
          <option v-for="(value, key) in qualification" :value="key">{{ value }}</option>          
        </select>
        </div>
    </div>
    
    <div class="form-group">
      <label for="parentMobileNo" class="col-sm-2 control-label">Mobile No</label>
      <div class="col-sm-4"><input type="text" name="parentMobileNo" required class="form-control"></div>
    </div>
    
    <div class="form-group">
      <label for="parentphoto" class="col-sm-2 control-label">Photo </label>
      <div class="col-sm-4">
      <input type="file" name="parentphoto" accept="image/*" required>
      <p class="help-block">Below 1 mb passport size photo only allowed.</p>
      </div>
    </div>
    
    <div class="form-group">
      <label for="parentemail" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-4"><input type="email" name="parentemail" class="form-control"/></div>
    </div>
    
    <div class="form-group">
      <label for="parentaadhaarno" class="col-sm-2 control-label">Aadhaar No</label>
      <div class="col-sm-4"><input type="text" name="parentaadhaarno" class="form-control"/></div>
    </div>
    
    <div class="form-group">
    <label for="occupation" class="col-sm-2 control-label">Occupation</label>
    <div class="col-sm-4"><input type="text" name="occupation" class="form-control"></div>
    </div>
    
    <div class="form-group">
      <label for="annualincome" class="col-sm-2 control-label">Annual Income</label>
      <div class="col-sm-4"><input type="text" name="annualincome" class="form-control" ></div>
    </div>
    
    <div class="form-group">
      <label for="companyName" class="col-sm-2 control-label">Company Name</label>
      <div class="col-sm-4"><input type="text" name="companyName" class="form-control"></div>
    </div>
    
    <div class="form-group">
      <label for="companyAddress" class="col-sm-2 control-label">Company Address</label>
      <div class="col-sm-4"><input type="text" name="companyAddress" class="form-control" ></div>
    </div>
  </fieldset>

    <h5>Agreement & Declaration</h5>    
    <p class="text-primary">I understand and agree that Registration does not mean qualification for admission. The Examination process involves eligibility for Registration, a Written Examination followed by an interview. 
If the candidate is offered Admission, then I will abide by the rules and regulations of the School, pay the fees in advance and settle any other accounts promptly.</p>

    <div class="form-group">
        <div class="col-sm-4">
          <label class="checkbox-inline" for="agree"><input type="checkbox" id="agree" name="agree" required> Agree</label>
        </div>
    </div>

<div class="g-recaptcha" data-sitekey="6LdGdTwUAAAAAP-06Fu1wwMJFSen7B2hMl_b9pla"></div>

<div class="form-group">
      <div class="col-sm-4"><input class="btn btn-primary" type="submit" value="Submit"></div>
    </div>
</form>

<!--<div class="col-sm-4 col-sm-4">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Note (Class-Age Chart)</h3>
  </div>
  <div class="panel-body">
   Candidates seeking admission to L.K.G should have completed 3 years as on 31st March 2018 and similar computation will be done for other classes as well.
  </div>
</div>
</div>-->


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">After Registration</h3>
      </div>
      <div class="panel-body">
        <ul>
        <li>The selected candidate will get SMS for the written/oral test for the class registered.</li>
        <li>After the written test and interviews, if the candidate is found suitable, the school will decide the class in which the candidate will be offered a place. The Principal, through a letter of offer, will communicate this directly to the candidate.</li>
        <li>The School's decision is final</li>
        </ul>
      </div>
    </div>

  </div>
</div>

  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>
  <script>
  var today = new Date();
var year = today.getFullYear();
  new Vue({
    el: '#app',
    data () {
      return {
        title: 'Registration Form',
        studentFirstName: '',
        studentLastName: '',
        studentGender: '',
        thisyear: year+1,
        nextyear: year+2,
        siblingSection: false,
        previousStudiedSection: false,
        classes:{
          PreKG: 'Pre-kindergarten', LKG: 'Lower Kindergarten', UKG: 'Upper Kindergarten',
          I: 'I', II: 'II', III: 'III', IV: 'IV', V: 'V', VI: 'VI', VII: 'VII', VIII: 'VIII'
        },
        religion: {
          Hindu: 'Hindu', Christian: 'Christian', Muslim: 'Muslim', Jains: 'Jains', Sikh: 'Sikh', Others: 'Others'
        },
        community: {
          BackwardCaste: 'B.C', MostBackwardCaste: 'M.B.C', ScheduledCastesScheduledTribes: 'S.C/S.T',
          OtherCommunity: 'O.C',
          ForwardCaste: 'F.C',
          NA: 'NA'
        },
        board: {
          cbse: 'CBSE', matriculation: 'Matriculation', icse: 'ICSE', angaloindian: 'Angalo Indian'
        },
        qualification: {
          sslc: '10th',
          highersecondary: '12th',
          undergraduate: 'UG',
          postgraduate: 'PG',
          doctorate: 'Doctorate',
          postdoctorate: 'Post Doctorate'
        },
        createdpost: function () {
          //this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function (response) {
            // console.log(response.data);
            //this.posts = response.data
          //})
        },
        computed: {
          
        }
      }
    }
  });
  
    /*$(document).ready(function(){
        $("#needTransport").click(function(){
          $('#siblingFieldset').addClass('hide');
          if($(this).is(':checked')){
            $('#siblingFieldset').removeClass('hide');
          }
        });

        $("#previousStudied").click(function(){
          $('#previousStudiedSection').addClass('hide');
          if($(this).is(':checked')){
            $('#previousStudiedSection').removeClass('hide');
          }
        });
    });*/
  </script>
</body>

</html>